@use "../abstracts/variables" as vars;
@mixin row {
  display: flex;
  flex-direction: row;
}

@mixin column {
  display: flex;
  flex-direction: column;
}

@mixin nav {
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0;
  width: 100%;
  min-width: 1024px;
  height: 48px;
  max-height: 44px;
  font-size: 17px;
}

@mixin navContainer {
  @include row;
  justify-content: space-between;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 22px;
  position: relative;
  z-index: 2;
  justify-content: space-between;
}
@mixin learn {
  color: vars.$ft-link;
  &:hover {
    text-decoration: underline;
    color: vars.$ft-link;
  }
}
