@font-face {
  font-family: "sfRegular";
  src: url("/public/assets/fonts/sfRegular.woff2") format("woff2");
}
@font-face {
  font-family: "sfHeavy";
  src: url("/public/assets/fonts/sfHeavy.woff2") format("woff2");
}
@font-face {
  font-family: "sfSemiBold";
  src: url("/public/assets/fonts/sfSemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "sfProIcons";
  src: url("/public/assets/fonts/sfProIcons.woff2") format("woff2");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
}

.container header {
  position: relative;
}
.container header .locale-selector-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #444;
  color: #fff;
}
.container header .locale-selector-container .locale-selector {
  font-family: sfRegular;
  max-width: 1014px;
  width: 100%;
  margin: 0 auto;
  padding: 0 17px;
  display: flex;
  flex-direction: row;
  flex: 1;
}
.container header .locale-selector-container .locale-selector .locale-left {
  display: flex;
  flex-direction: row;
  font-family: inherit;
  font-size: 13px;
  line-height: 1.5;
  letter-spacing: 0.011em;
  padding-right: 2%;
  align-items: center;
  flex: 1;
  font-smooth: always;
}
.container header .locale-selector-container .locale-selector .locale-right {
  display: flex;
  flex-direction: row;
  font-family: inherit;
  flex: 1;
}
.container header .locale-selector-container .locale-selector .locale-right .select-box {
  border: 1px solid #707070;
  border-radius: 4px;
  padding: 0 15px;
  background-color: #575757;
  width: 100%;
  height: 35px;
  line-height: 35px;
  font-size: 17px;
}
.container header .locale-selector-container .locale-selector .locale-right .select-box select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}
.container header .locale-selector-container .locale-selector .locale-right .select-box .icon {
  font-family: sfProIcons;
  color: #999;
  font-size: 20px;
}
.container header .locale-selector-container .locale-selector .locale-right .select-box .icon-checkmark::after {
  content: "\f30b";
}
.container header .locale-selector-container .locale-selector .locale-right .select-box .icon-dropdown::after {
  content: "\f303";
  float: right;
}
.container header .locale-selector-container .locale-selector .locale-right .btn-continue {
  margin-left: 17px;
  font-size: 17px;
  font-family: sfRegular;
  font-weight: 500;
  color: white;
  line-height: 1.52947;
  letter-spacing: 0.021em;
  background: linear-gradient(#42a1ec, #0070c9);
  border: 1px solid #07c;
  padding: 3px 15px 4px 15px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}
.container header .locale-selector-container .locale-selector .locale-right .btn-continue:hover {
  background: linear-gradient(#51a9ee, #147bcd);
}
.container header .locale-selector-container .locale-selector .locale-right .exit {
  font-family: sfProIcons;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 20px;
  line-height: 20px;
  color: #999;
  display: block;
  width: auto;
  height: 20px;
  margin: auto 0;
  margin-left: 17px;
}
.container header .locale-selector-container .locale-selector .locale-right .exit::after {
  content: "\f35e";
}
.container header nav {
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0;
  width: 100%;
  min-width: 1024px;
  height: 48px;
  max-height: 44px;
  font-size: 17px;
  position: relative;
}
.container header nav .navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 22px;
  position: relative;
  z-index: 2;
  justify-content: space-between;
  position: static;
}
.container header nav .navbar-container .link-container {
  display: flex;
  flex-direction: row;
  position: static;
  width: 100%;
  justify-content: space-between;
  margin: 0 -10px;
}
.container header nav .navbar-container .link-container .nav-link {
  height: 44px;
  padding: 0 10px;
  width: fit-content;
}
.container header nav .navbar-container .link-container .nav-link a {
  display: inline-block;
  opacity: 0.8;
}
.container header nav .navbar-container .link-container .nav-link a:hover {
  opacity: 1;
  cursor: pointer;
}
.container header nav .navbar-container .link-container .nav-link #search-bar {
  background: url("/public/assets/images/searchIcon.svg");
  background-repeat: no-repeat;
  height: 44px;
  width: 16px;
  border: none;
  outline: none;
  font-size: 17px;
  caret-color: none;
}
.container header nav .navbar-container .link-container .nav-link #search-bar::placeholder {
  opacity: 0;
}
.container header nav .navbar-container .link-container .nav-link #search-bar:focus {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  width: 980px;
  background: url("/public/assets/images/searchIconDark.svg"), url("/public/assets/images/appleIcon.svg");
  background-repeat: no-repeat;
  background-position: 0, 99%;
  background-color: black;
  z-index: 9;
  padding-left: 2%;
  caret-color: #444;
  color: #fff;
  transition: width 1.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.container header nav .navbar-container .link-container .nav-link #search-bar:focus::placeholder {
  opacity: 1;
}
.container header nav .navbar-container .link-container .nav-link .list-container {
  background-color: #f5f5f7;
  position: absolute;
  top: 44px;
  left: 0;
  z-index: 50;
  width: 100%;
  padding: 8px 0;
  display: flex;
  justify-content: center;
  z-index: 1000;
}
.container header nav .navbar-container .link-container .nav-link .list-container div {
  max-width: 1100px;
}
.container header nav .navbar-container .link-container .nav-link .list-container div .product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  margin-left: -60px;
  margin-right: -60px;
}
.container header nav .navbar-container .link-container .nav-link .list-container div .product .thumbnail {
  padding: 0 10px;
  box-sizing: border-box;
  opacity: 1;
}
.container header nav .navbar-container .link-container .nav-link .list-container div .product .thumbnail div {
  margin-top: 3px;
  min-width: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.container header nav .navbar-container .link-container .nav-link .list-container div .product .thumbnail div div {
  background: center bottom no-repeat;
  width: 100%;
  height: 60px;
}
.container header nav .navbar-container .link-container .nav-link .list-container div .product .thumbnail div h5 {
  font-family: sfRegular;
  color: #1d1d1f;
  font-size: 12px;
  font-weight: 100;
}
.container header nav .navbar-container .link-container .nav-link .list-container div .product .thumbnail:hover h5 {
  color: #07c;
}
.container header nav .navbar-container .link-container .nav-link:hover .list-container {
  visibility: visible;
}

.body-content .product-nav {
  position: sticky;
  top: 0;
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0;
  width: 100%;
  min-width: 1024px;
  height: 48px;
  max-height: 44px;
  font-size: 17px;
  font-family: sfSemiBold;
  color: #fff;
  max-height: fit-content;
  height: auto;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}
.body-content .product-nav .navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 22px;
  position: relative;
  z-index: 2;
  justify-content: space-between;
  position: relative;
}
.body-content .product-nav .navbar-container .product-title {
  font-size: 21px;
  font-weight: 600;
  line-height: 1.14286;
  letter-spacing: 0.011em;
  margin: 14px 0 -14px;
  height: 52px;
}
.body-content .product-nav .navbar-container .product-title a {
  color: #fff;
}
.body-content .product-nav .navbar-container .product-menu {
  font-size: 12px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: -0.01em;
  margin-top: -3px;
}
.body-content .product-nav .navbar-container .product-menu .menu-tray {
  padding-top: 18px;
}
.body-content .product-nav .navbar-container .product-menu .menu-tray a {
  margin-left: 24px;
  color: #fff;
  opacity: 0.88;
}
.body-content .product-nav .navbar-container .product-menu .menu-tray a:hover {
  color: #2997ff;
  opacity: 1;
}
.body-content .product-nav .navbar-container .product-menu .menu-tray a:first-child {
  opacity: 0.56;
}
.body-content .product-nav .navbar-container .product-menu .menu-tray a:first-child:hover {
  color: #fff;
  cursor: default;
}
.body-content .product-nav .navbar-container .product-menu .menu-tray .btn-buy {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  background: #0070c9;
  color: #fff;
  font-size: 12px;
  line-height: 1.33337;
  font-weight: 400;
  letter-spacing: -0.01em;
  min-width: 23px;
  padding-left: 11px;
  padding-right: 11px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 12px;
}
.body-content .product-nav .navbar-container .product-menu .menu-tray .btn-buy:hover {
  color: #fff;
  background-color: #2997ff;
}
.body-content .ribbon-wrapper {
  font-family: sfRegular;
  width: 100%;
  padding: 0.8em 0;
  background-color: #1d1d1f;
  color: white;
  animation: drop 2.5s;
}
.body-content .ribbon-wrapper .ribbon {
  font-size: 12px;
}
.body-content .ribbon-wrapper .ribbon p {
  margin: 0 auto;
  width: fit-content;
}
.body-content .ribbon-wrapper .ribbon p a {
  color: #42a1ec;
}
.body-content .ribbon-wrapper .ribbon p a::after {
  font-family: sfProIcons;
  content: "\f301";
}
.body-content .ribbon-wrapper .ribbon p a:hover {
  text-decoration: underline;
}
@keyframes drop {
  0% {
    margin-top: -50px;
    opacity: 0;
    background-color: #0070c9;
  }
  35% {
    margin-top: 0px;
    background-color: #0070c9;
  }
  70% {
    margin-top: 0px;
    background-color: #0070c9;
  }
}
.body-content .section-hero {
  width: 980px;
  margin: 0 auto;
  font-family: sfSemiBold;
}
.body-content .section-hero .hero-heading {
  padding-top: 72px;
  text-align: center;
  color: #f5f5f7;
  position: relative;
  opacity: 1;
}
.body-content .section-hero .hero-heading h1 {
  font-size: 21px;
  line-height: 1.19048;
  letter-spacing: 0.011em;
  font-weight: 600;
}
.body-content .section-hero .hero-heading h2 {
  margin-top: 12px;
  font-size: 80px;
  line-height: 1.05;
  font-weight: 600;
  letter-spacing: -0.015em;
}
.body-content .section-hero .hero-heading .grad {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 5px;
  background: rgba(0, 0, 0, 0);
  animation: grad 4s;
}
@keyframes grad {
  0% {
    background: linear-gradient(270deg, #000000 80%, transparent 100%);
  }
  70% {
    background: linear-gradient(270deg, #000000 80%, transparent 100%);
  }
  80% {
    background: linear-gradient(270deg, #000000 75%, transparent 100%);
  }
  81% {
    background: linear-gradient(270deg, #000000 70%, transparent 100%);
  }
  82% {
    background: linear-gradient(270deg, #000000 66.5%, transparent 100%);
  }
  83% {
    background: linear-gradient(270deg, #000000 63%, transparent 100%);
  }
  84% {
    background: linear-gradient(270deg, #000000 59.5%, transparent 100%);
  }
  85% {
    background: linear-gradient(270deg, #000000 56%, transparent 100%);
  }
  86% {
    background: linear-gradient(270deg, #000000 52.5%, transparent 100%);
  }
  87% {
    background: linear-gradient(270deg, #000000 49%, transparent 100%);
  }
  88% {
    background: linear-gradient(270deg, #000000 45.5%, transparent 100%);
  }
  89% {
    background: linear-gradient(270deg, #000000 42%, transparent 100%);
  }
  90% {
    background: linear-gradient(270deg, #000000 38.5%, transparent 100%);
  }
  91% {
    background: linear-gradient(270deg, #000000 35%, transparent 90%);
  }
  92% {
    background: linear-gradient(270deg, #000000 31.5%, transparent 80%);
  }
  93% {
    background: linear-gradient(270deg, #000000 28%, transparent 70%);
  }
  94% {
    background: linear-gradient(270deg, #000000 24.5%, transparent 60%);
  }
  95% {
    background: linear-gradient(270deg, #000000 21%, transparent 50%);
  }
  96% {
    background: linear-gradient(270deg, #000000 17.5%, transparent 40%);
  }
  97% {
    background: linear-gradient(270deg, #000000 14%, transparent 30%);
  }
  98% {
    background: linear-gradient(270deg, #000000 10.5%, transparent 20%);
  }
  99% {
    background: linear-gradient(270deg, #000000 7%, transparent 10%);
  }
  100% {
    background: linear-gradient(270deg, #000000 3.5%, transparent 0%);
  }
}
.body-content .section-hero .hero-display {
  margin-top: -40px;
}
.body-content .section-hero .hero-info {
  width: 980px;
  margin: 10% auto;
}
.body-content .section-hero .hero-info p {
  color: #a1a1a6;
  max-width: calc(2 / 3 * 100%);
  font-size: 24px;
  line-height: 1.16667;
  font-weight: 600;
  letter-spacing: 0.009em;
  text-align: center;
  margin: 0 auto;
}
.body-content .section-hero .gradient-back {
  width: 45%;
  margin: 0 auto;
  margin-top: 50px;
}
.body-content .section-hero .gradient-back h4 {
  text-align: center;
  font-size: 32px;
  line-height: 1.125;
  background: linear-gradient(to right, #005e7f, #61b6cd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.body-content .section-hero .gradient-back div {
  background: linear-gradient(to right, #005e7f, #61b6cd);
  border-radius: 50px;
  width: fit-content;
  margin: 70px auto;
  margin-top: 35px;
  padding: 1.5px;
}
.body-content .section-hero .gradient-back div #foh {
  background: black;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 50px;
  padding: 8px 16px;
  transition: all 0.2s linear;
}
.body-content .section-hero .gradient-back div #foh:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}

footer {
  background: #111;
}
footer .section-top {
  padding-top: 126px;
}
footer .section-top .row-first {
  width: 980px;
  margin: 0 auto;
  font-family: sfRegular;
  border-bottom: 1px solid #424245;
  padding-bottom: 100px;
  color: #f5f5f7;
  flex: 1;
}
footer .section-top .row-first div {
  display: flex;
  flex-direction: row;
}
footer .section-top .row-first h2 {
  display: block;
  font-size: 56px;
  width: 66.67%;
  text-align: center;
  margin: 0 auto;
}
footer .section-top .row-first .col1 {
  text-align: center;
  margin: 0 auto;
  margin-top: 93px;
  font-family: inherit;
  flex: 5;
}
footer .section-top .row-first .col1 .block {
  display: block;
}
footer .section-top .row-first .col1 .block h3 {
  max-width: 90%;
  font-size: 32px;
  line-height: 1.125;
  font-weight: 600;
  letter-spacing: 0.004em;
  margin: 0 auto;
}
footer .section-top .row-first .col1 .block p {
  max-width: 75%;
  color: #a1a1a6;
  margin: 0 auto;
  margin-top: 0.8em;
  font-size: 17px;
  line-height: 1.47059;
  font-weight: 400;
  letter-spacing: -0.022em;
}
footer .section-top .row-first .col1 .block p a {
  color: inherit;
}
footer .section-top .row-first .col1 .block p a sup {
  font-size: 12px;
}
footer .section-top .row-first .col1 .block p a:hover {
  color: #2997ff;
}
footer .section-top .row-first .col1 .block p .learn {
  color: #2997ff;
}
footer .section-top .row-first .col1 .block p .learn:hover {
  text-decoration: underline;
  color: #2997ff;
}
footer .section-top .row-first .col1 .block p span {
  font-family: sfProIcons;
  padding-left: 5px;
  color: #2997ff;
}
footer .section-top .row-first .col1 .block p span::after {
  content: "\f301";
}
footer .section-top .row-first .col2 {
  flex: none;
  width: 50%;
}
footer .section-help {
  max-width: 980px;
  margin: 0 auto;
}
footer .section-help .help-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 56px;
  flex: 1;
  border-bottom: 1px solid #424245;
}
footer .section-help .help-container .help-card {
  font-family: sfRegular;
  cursor: pointer;
  color: #f5f5f7;
  text-align: center;
  margin: 0 auto;
  padding-top: 56px;
  flex: 1;
}
footer .section-help .help-container .help-card img {
  height: 56px;
}
footer .section-help .help-container .help-card h3 {
  font-size: 19px;
  line-height: 1.21053;
  font-weight: 600;
  letter-spacing: 0.012em;
  margin-top: 0.525em;
}
footer .section-help .help-container .help-card p {
  font-size: 14px;
  margin-top: 0.4em;
  line-height: 20px;
}
footer .section-help .help-container .help-card .learn {
  margin-top: 0.8em;
  color: #2997ff;
}
footer .section-help .help-container .help-card .learn:hover {
  text-decoration: underline;
  color: #2997ff;
}
footer .section-help .help-container .help-card .learn:hover {
  text-decoration: none;
}
footer .section-help .help-container .help-card .learn .tail {
  font-family: sfProIcons;
  padding-left: 5px;
}
footer .section-help .help-container .help-card .learn .tail::after {
  content: "\f301";
}
footer .section-help .help-container .help-card:hover .head {
  text-decoration: underline;
}
footer .footnote {
  font-family: sfRegular;
}
footer .footnote .footnote-container {
  max-width: 980px;
  margin: 0 auto;
  padding-bottom: 25px;
  border-bottom: 1px solid #424245;
}
footer .footnote p {
  padding-top: 25px;
  font-size: 12px;
  line-height: 1.33337;
  font-weight: 400;
  letter-spacing: -0.01em;
  color: #6e6e73;
}
footer .footnote p a {
  color: #a1a1a6;
}
footer .footnote p a:hover {
  cursor: pointer;
  color: #f5f5f7;
  text-decoration: underline;
}

body {
  background-color: black;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

/*# sourceMappingURL=main.css.map */
