@use "../abstracts/mixins" as mixins;
@use "../abstracts/variables" as vars;
@mixin footerLinks {
  max-width: 980px;
  margin: 0 auto;
  .navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 7px 0;
    img {
      height: 18px;
      padding-right: 10px;
    }
    #apl-logo {
      height: 40px;
      opacity: 0.6;
      &:hover {
        cursor: pointer;
        opacity: 0.9;
      }
    }
    .next {
      font-family: vars.$icons;
    }
    a {
      font-family: vars.$font-reg;
      color: vars.$hero-color;
      opacity: 0.7;
      font-size: 13px;
      padding-right: 10px;
      &:hover {
        opacity: 1;
        text-decoration: underline;
      }
    }
  }
  .more-links-row {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    .links-col {
      flex: 1;
      color: vars.$hero-color;
      font-family: vars.$font-reg;
      h5 {
        font-weight: 600;
        margin-right: 20px;
        margin-bottom: 0.8em;
        font-size: 12px;
        line-height: 1.33337;
        letter-spacing: -0.01em;
      }
      a {
        color: inherit;
        opacity: 0.7;
        font-size: 12px;
        margin-bottom: 0.8em;
        display: block;
        &:hover {
          opacity: 1;
          text-decoration: underline;
        }
      }
    }
  }
}

@mixin footerInfo {
  padding: 34px 0;
  width: 980px;
  margin: 0 auto;
  p {
    color: vars.$txt-footnote;
    font-family: vars.$font-reg;
    font-size: 12px;
    padding-bottom: 8px;
    margin-bottom: 7px;
    a {
      color: vars.$ft-link;
      &:hover {
        text-decoration: underline;
      }
    }
    border-bottom: 1px solid vars.$ft-border;
  }
  .foot-bot {
    display: flex;
    justify-content: space-between;
    color: vars.$txt-footnote;
    font-family: vars.$font-reg;
    font-size: 12px;
    a {
      font-family: vars.$font-reg;
      color: vars.$hero-color;
      opacity: 0.7;
      &:hover {
        text-decoration: underline;
        opacity: 1;
      }
    }
    .tnc {
      padding: 0 10px;
      border-right: 1px solid vars.$ft-border;
    }
  }
}
