@use "../abstracts/mixins" as mixins;
@use "../abstracts/variables" as vars;

@mixin hero {
  width: 980px;
  margin: 0 auto;
  font-family: vars.$font-semi-bold;
  .hero-heading {
    padding-top: 72px;
    text-align: center;
    color: vars.$hero-color;
    position: relative;
    h1 {
      font-size: 21px;
      line-height: 1.19048;
      letter-spacing: 0.011em;
      font-weight: 600;
    }
    h2 {
      margin-top: 12px;
      font-size: 80px;
      line-height: 1.05;
      font-weight: 600;
      letter-spacing: -0.015em;
    }
    opacity: 1;
    .grad {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 5px;
      background: rgba(0, 0, 0, 0);
      animation: grad 4s;
    }
  }
  @keyframes grad {
    0% {
      background: linear-gradient(270deg, #000000 80%, transparent 100%);
    }
    70% {
      background: linear-gradient(270deg, #000000 80%, transparent 100%);
    }
    80% {
      background: linear-gradient(270deg, #000000 75%, transparent 100%);
    }
    $count: 70;
    $transparent: 100;
    @for $i from 81 through 100 {
      #{$i}% {
        @if ($i > 90) {
          $transparent: $transparent - 10;
        }
        background: linear-gradient(
          270deg,
          #000000 #{$count}+ "%",
          transparent #{$transparent}+ "%"
        );
      }
      $count: $count - 3.5;
    }
  }
  .hero-display {
    margin-top: -40px;
  }
  .hero-info {
    width: 980px;
    margin: 10% auto;
    p {
      color: #a1a1a6;
      max-width: calc(2 / 3 * 100%);
      font-size: 24px;
      line-height: 1.16667;
      font-weight: 600;
      letter-spacing: 0.009em;
      text-align: center;
      margin: 0 auto;
    }
  }
  .gradient-back {
    width: 45%;
    margin: 0 auto;
    margin-top: 50px;
    h4 {
      text-align: center;
      font-size: 32px;
      line-height: 1.125;
      background: linear-gradient(to right, #005e7f, #61b6cd);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    div {
      background: linear-gradient(to right, #005e7f, #61b6cd);
      border-radius: 50px;
      width: fit-content;
      margin: 6px auto;
      margin-top: 35px;
      padding: 1.5px;
      #foh {
        background: black;
        color: white;
        font-size: 16px;
        border: none;
        border-radius: 50px;
        padding: 8px 16px;
        transition: all 0.2s linear;
        &:hover {
          color: black;
          background-color: white;
          cursor: pointer;
        }
      }
    }
  }
}
